<h1>Beer clubs</h1>
<%= link_to "sort by Name", beer_clubs_path(order: "name")%>
<%= link_to "sort by year", beer_clubs_path(order: "founded")%>
<%= link_to "sort by city", beer_clubs_path(order: "city")%>
<div id="beer_clubs">
  <% @beer_clubs.each do |beer_club| %>
    <%= render beer_club %>
    <p>
      <%= link_to "Show this beer club", beer_club, class:"btn btn-info" %>
    </p>
  <% end %>
</div>

<%= link_to('New beer club', new_beer_club_path, class:"btn btn-success") if current_user %>

