<%= render @beer_club %>

<% if current_user&.get_membership(@beer_club)&.confirmed %> 
  <strong>Waiting confirmation</strong>
  <ul>
    <% @beer_club.users.each do |user| %>
      <% if !user.get_membership(@beer_club).confirmed %> 
        <li>
          <%= link_to user.username, user %>
          <%= link_to "Confirm", confirm_membership_path(user.get_membership(@beer_club).id), data: {turbo_method: "post"}, class:"btn btn-success" %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<div id="members">
  <strong>Members:</strong>
  <ul>
    <% @beer_club.users.each do |user| %>
      <% if user.get_membership(@beer_club).confirmed %> 
        <li><%= link_to user.username, user %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<% if current_user %>

  <% if current_user.beer_clubs.include?(@beer_club) %>
    <%= form_with(
      url: "/memberships/#{(current_user.get_membership(@beer_club)).id}", method: :delete) do |form| %>
      <%= form.submit "End the membership" %>
    <% end %>

  <% else %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join the beer club" %>
    <% end %>
  <% end %>

<% end %>
<%= edit_and_destroy_buttons(@beer_club) %>
