  <%= render @user %>
  <p>
    <%if current_user&.admin %>
      <%=  link_to "Toggle activity", toggle_activity_user_path(@user.id), data: {turbo_method: "post"}, class:"btn btn-warning"%>
    <% end %>
  </p>
  <p>
    <%if @user.admin %>
      Is Admin
    <% end %>
  </p>

  <p>
    <% if @user.ratings.empty? %>
      Has no ratings
    <% else %> 
      Has made <%= pluralize(@user.ratings.count, 'rating') %> ratings, 
      average rating <%= @user.average_rating %>
      <p>
        <strong>Favorite brewery: </strong>
        <%= @user.favorite_brewery %>
      </p>
      <p>
        <strong>Favorite beer: </strong>
        <%= @user.favorite_beer %>
      </p>
      <p>
        <%= turbo_frame_tag "beer_recommendation_tag", src: recommendation_user_path do %>
          calculating the recommendation...
        <% end %>
      </p>
    <% end %>
  </p>

  <p>
    <% if @user.memberships.empty? %>
      Has no memberships
    <% else %>
      <strong>member of</strong>
      <ul>
        <% @user.beer_clubs.each do |bc| %>
          <% if @user.get_membership(bc)&.confirmed %>
            <li><%= link_to bc.name, bc %></li>
          <% end %>
        <% end %>
      </ul>
      
      <strong>applied membership of</strong>
      <ul>
        <% @user.beer_clubs.each do |bc| %>
          <% if !@user.get_membership(bc)&.confirmed %>
            <li><%= link_to bc.name, bc %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </p>

  <strong>ratings:</strong>
  <ul>  
    <%= turbo_frame_tag "ratings" do %>
      <% @user.ratings.each do |rating| %>
        <li>
          <%= link_to rating.to_s, rating, data: { turbo_frame: "rating_details" } %>
          <% if @user == current_user %>
            <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= turbo_frame_tag "rating_details" do %>
  <% end %>  

<div>
  <%= link_to "Back to users", users_path , class:"btn btn-secondary"%>

<%= edit_and_destroy_buttons(@user) %>
</div>
