<p style="color: green"><%= notice %></p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <% if @user.ratings.empty? %>
      Has no ratings
    <% else %> 
      Has made <%= pluralize(@user.ratings.count, 'rating') %> ratings, 
      average rating <%= @user.average_rating %>
    <% end %>
  </p>

  <p>
    <% if @user.ratings.empty? %>
      Has no memberships
    <% else %>
      <strong>member of</strong>
      <ul>
        <% @user.beer_clubs.each do |bc| %>
          <li><%= link_to bc.name, bc %></li>
        <% end %>
      </ul>
    <% end %>
  </p>

  <strong>ratings:</strong>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li><%= "#{rating.to_s}" %>
        <% if @user == current_user %>
          <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
        <% end %>
      </li>
    <% end %>
  </ul>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
