<h1>Breweries</h1>
<p> Number of breweries: <%= @active_breweries.count + @retired_breweries.count %> </p>

<h2>Active</h2>
<p> Number of active breweries: <%= @active_breweries.count %></p>
<%= turbo_frame_tag "active_breweries_tag", src: active_breweries_path do %>
    Finding active breweries...
<% end %>

<h2>Retired</h2>
<p> Number of retired breweries: <%= @retired_breweries.count %> </p>
<%= turbo_frame_tag "retired_breweries_tag", src: retired_breweries_path do %>
    Finding retired breweries...
<% end %>

<p>
  <%=link_to 'list of beers', beers_path, class:"btn btn-secondary" %>
</p>
<%= link_to("New brewery", new_brewery_path, class:"btn btn-success") if current_user %>